/models
/models123
/optimized_models
/venv311
voicemodelenglish.wav
voicemodelmarathi.wav
voicemodel2.wav
voicemodel.mp3
voicemodel.wav
voicemix.wav
voicemodelmarathienglish.wav
voicemodelmix.wav
voicemodelpunjabi1.wav
male_voice.wav
/tts_audio_outputs
.vscode
