/models
/models123
/optimized_models
/venv311
voicemodelenglish.wav
voicemodelmarathi.wav
voicemodel2.wav
voicemodel.mp3
voicemodel.wav
voicemix.wav
voicemodelmarathienglish.wav
voicemodelmix.wav
voicemodelpunjabi1.wav
male_voice.wav
/tts_audio_outputs
.vscode/
__pycache__/
*.pyc
.DS_Store
.env
logs/
/voice_db_embeddings
/voice_db_processed
/temp
/voice_db_backup
/wheelchair-api/.next
/wheelchair-api/node_modules
smart-wheelchair-44-firebase-adminsdk-fbsvc-bb6b1af07e.json

# Global Ignores
**/node_modules/
**/.next/
**/.dart_tool/
**/build/
**/bin/
**/obj/
**/.packages
**/.gradle/
**/.idea/
**/.vscode/
.pub-cache/
.pub/
*.pyc
__pycache__/
*.log
.env
.env.local
